[tool.black]
line-length = 88
target-version = ['py311']

[tool.ruff]
line-length = 88
[tool.ruff.lint]
select = ["E", "W", "F", "B"]

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.11"
